<article
  id="contact"
  data-grid
  data-justify-content="center"
  data-align-items="center"
>
  <header><h2>contact us</h2></header>
  <adress data-grid>
    <dl data-grid>
      <dt>Location:</dt>
      <dd>123 Main Street, London W1A 1AA, United Kingdom</dd>
      <dt>Mail:</dt>
      <dd>
        <a href="mailto:ihopethatnomodyusesthismail@my.mail.moc"
          >ihopethatnomodyusesthismail@my.mail.moc</a
        >
      </dd>
    </dl>
  </adress>
  <section class="media">
    <ul class="socials" data-grid data-even-columns data-justify-items="center">
      <li><a href="https://youtube.com"></a></li>
      <li><a href="https://twitter.com"></a></li>
      <li><a href="https://instagram.com"></a></li>
    </ul>
  </section>
</article>
