<article id="home" data-grid>
  <figure role="group" data-grid>
    <picture>
      <source
        srcset="../img/home-page/balanse.jpg"
        media="(min-width: 800px)"
      />
      <source
        srcset="../img/home-page/balanse_mobile.jpg"
        media="(max-width: 800px)"
      />
      <img src="../img/home-page/balanse.jpg" alt="" />
    </picture>
    <picture>
      <source srcset="../img/home-page/macro.jpg" media="(min-width: 800px)" />
      <source
        srcset="../img/home-page/macro_mobile.jpg"
        media="(max-width: 800px)"
      />
      <img src="../img/home-page/macro.jpg" alt="" />
    </picture>
    <picture>
      <source srcset="../img/home-page/taste.jpg" media="(min-width: 800px)" />
      <source
        srcset="../img/home-page/taste_mobile.jpg"
        media="(max-width: 800px)"
      />
      <img src="../img/home-page/taste.jpg" alt="" />
    </picture>
  </figure>
  <header>
    <h1>Fit kitchen</h1>
  </header>
  <h2>Fresh, nutritious, delicious</h2>
  <section class="about" data-grid>
    <p>
      Fit Kitchen is the perfect restaurant for health-conscious customers
      looking for a delicious meal that also supports their fitness goals. Our
      menu is carefully crafted to provide fresh, nutritious options that taste
      amazing. From our flavorful salads and protein-packed bowls to our lean
      proteins and wholesome sides, every dish is made with the highest quality
      ingredients and expertly prepared for maximum flavor and nutrition.
    </p>
    <p>
      At Fit Kitchen, we believe that healthy eating should never mean
      sacrificing taste or satisfaction. That's why we put an emphasis on using
      fresh, locally sourced ingredients that are bursting with flavor and
      packed with the nutrients your body needs. Whether you're looking to fuel
      up for a workout, recover after a long day, or simply enjoy a delicious
      meal that leaves you feeling great, Fit Kitchen is the perfect choice.
    </p>
    <p>
      Our slogan, "Fresh, nutritious, delicious," sums up everything that makes
      Fit Kitchen so special. We're dedicated to providing our customers with
      healthy, delicious options that make it easy to stick to their fitness
      goals while still enjoying amazing food. Come visit us today and discover
      why Fit Kitchen is the ultimate destination for anyone looking to eat
      well, feel great, and enjoy life to the fullest.
    </p>
  </section>
</article>
