<article
  id="menu"
  data-grid
  data-justify-content="center"
  data-align-items="center"
>
  <ul data-grid>
    <li>
      <span class="vegan">Vegan-fiendly</span>
      <ul>
        <li>
          <details open>
            <summary>
              <span class="dish-name">Lentil soup with whole wheat bread</span>
              <span class="price">$8.99</span>
            </summary>
            <figure class="overview">
              <img src="../img/menu/soup.jpg" alt="image presenting dish" />
              <figcaption data-grid>
                ingredients: Olive oil, Onion Garlic, Carrots Celery, Cumin,
                Coriander, Smoked paprika, Thyme Brown lentils, Low-sodium
                vegetable broth, Diced tomatoes, Bay leaf, Salt and pepper,
                Fresh parsley
              </figcaption>
            </figure>
          </details>
        </li>
        <li>
          <details>
            <summary>
              <span class="dish-name"
                >Greek yogurt parfait with granola and fresh fruit</span
              >
              <span class="price">$9.99</span>
            </summary>
          </details>
        </li>
        <li>
          <details>
            <summary>
              <span class="dish"
                ><span class="dish-name"
                  >Grilled tofu with brown rice and mixed vegetables</span
                ></span
              >
              <span class="price">$15.99</span>
            </summary>
          </details>
        </li>
        <li>
          <details>
            <summary>
              <span class="dish"
                ><span class="dish-name">
                  Baked sweet potato topped with black beans, salsa, and avocado
                </span></span
              >
              <span class="price">$13.99</span>
            </summary>
          </details>
        </li>
      </ul>
    </li>
    <hr />
    <li>
      <span class="high-protein">High protein</span>
      <ul>
        <li>
          <details>
            <summary>
              <span class="dish"
                ><span class="dish-name"
                  >Beef stir-fry with brown rice and broccoli</span
                ></span
              >
              <span class="price">$22.99</span>
            </summary>
          </details>
        </li>
        <li>
          <details>
            <summary>
              <span class="dish"
                ><span class="dish-name"
                  >Tuna salad with whole grain crackers and mixed greens</span
                ></span
              >
              <span class="price">$19.99</span>
            </summary>
          </details>
        </li>
        <li>
          <details>
            <summary>
              <span class="dish"
                ><span class="dish-name"
                  >Grilled salmon with sweet potato and green beans</span
                ></span
              >
              <span class="price">$24.99</span>
            </summary>
          </details>
        </li>
        <li>
          <details>
            <summary>
              <span class="dish"
                ><span class="dish-name"
                  >Shrimp and vegetable stir-fry with brown rice</span
                ></span
              >
              <span class="price">$22.99</span>
            </summary>
          </details>
        </li>
        <li>
          <details>
            <summary>
              <span class="dish"
                ><span class="dish-name"
                  >Grilled tofu with brown rice and mixed vegetables</span
                ></span
              >
              <span class="price">$15.99</span>
            </summary>
          </details>
        </li>
      </ul>
    </li>
    <hr />
    <li>
      <span class="best-price">Best price</span>
      <ul>
        <li>
          <details>
            <summary>
              <span class="dish"
                ><span class="dish-name"
                  >Lentil soup with whole wheat bread</span
                ></span
              >
              <span class="price">$8.99</span>
            </summary>
          </details>
        </li>
        <li>
          <details>
            <summary>
              <span class="dish"
                ><span class="dish-name"
                  >Tuna salad with whole grain crackers and mixed greens</span
                ></span
              >
              <span class="price">$19.99</span>
            </summary>
          </details>
        </li>
        <li>
          <details>
            <summary>
              <span class="dish"
                ><span class="dish-name"
                  >Turkey chili with cornbread muffins</span
                ></span
              >
              <span class="price">$12.99</span>
            </summary>
          </details>
        </li>
        <li>
          <details>
            <summary>
              <span class="dish"
                ><span class="dish-name"
                  >Greek yogurt parfait with granola and fresh fruit</span
                ></span
              >
              <span class="price">$9.99</span>
            </summary>
          </details>
        </li>
        <li>
          <details>
            <summary>
              <span class="dish"
                ><span class="dish-name"
                  >Grilled tofu with brown rice and mixed vegetables</span
                ></span
              >
              <span class="price">$15.99</span>
            </summary>
          </details>
        </li>
        <li>
          <details>
            <summary>
              <span class="dish"
                ><span class="dish-name">
                  Baked sweet potato topped with black beans, salsa, and avocado
                </span></span
              >
              <span class="price">$13.99</span>
            </summary>
          </details>
        </li>
      </ul>
    </li>
  </ul>
</article>
