<article id="menu">
  <ul>
    <li>
      <span class="vegan">Vegan-fiendly</span>
      <ul>
        <li>
          <details>
            <summary>Lentil soup with whole wheat bread</summary>
          </details>
        </li>
        <li>
          <details>
            <summary>Greek yogurt parfait with granola and fresh fruit</summary>
          </details>
        </li>
        <li>
          <details>
            <summary>Grilled tofu with brown rice and mixed vegetables</summary>
          </details>
        </li>
        <li>
          <details>
            <summary>
              Baked sweet potato topped with black beans, salsa, and avocado
            </summary>
          </details>
        </li>
      </ul>
    </li>
    <li>
      <span class="high-protein">high protein</span>
      <ul>
        <li>
          <details>
            <summary>
              Grilled chicken breast with quinoa and roasted vegetables
            </summary>
          </details>
        </li>
        <li>
          <details>
            <summary>Beef stir-fry with brown rice and broccoli</summary>
          </details>
        </li>
        <li>
          <details>
            <summary>
              Tuna salad with whole grain crackers and mixed greens
            </summary>
          </details>
        </li>
        <li>
          <details>
            <summary>Grilled salmon with sweet potato and green beans</summary>
          </details>
        </li>
        <li>
          <details>
            <summary>Shrimp and vegetable stir-fry with brown rice</summary>
          </details>
        </li>
        <li>
          <details>
            <summary>Grilled tofu with brown rice and mixed vegetables</summary>
          </details>
        </li>
      </ul>
    </li>
    <li>
      <span class="best-price">best price</span>
      <ul>
        <li>
          <details>
            <summary>Lentil soup with whole wheat bread</summary>
          </details>
        </li>
        <li>
          <details>
            <summary>
              Tuna salad with whole grain crackers and mixed greens
            </summary>
          </details>
        </li>
        <li>
          <details>
            <summary>Turkey chili with cornbread muffins</summary>
          </details>
        </li>
        <li>
          <details>
            <summary>Greek yogurt parfait with granola and fresh fruit</summary>
          </details>
        </li>
        <li>
          <details>
            <summary>Grilled tofu with brown rice and mixed vegetables</summary>
          </details>
        </li>
        <li>
          <details>
            <summary>
              Baked sweet potato topped with black beans, salsa, and avocado
            </summary>
          </details>
        </li>
      </ul>
    </li>
  </ul>
</article>
