:root {
  scroll-behavior: smooth;
  scroll-padding-top: var(--nav-height, 4rem);
}
#content nav {
  grid-column: 1 / -1;
  max-width: 100%;
  order: -1;
  text-transform: capitalize;
  transition: max-width 0.6s ease;
}

nav ul {
  justify-items: center;
  padding: 2rem;
  outline: 1px solid;
}

#home ~ nav {
  max-width: 50%;
}
